@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;600;800&display=swap");

/* General */
body {
  all: unset;
  background:
    url("images/header-illsutration-mobile.svg") no-repeat center 1%,
    url("images/frame.svg") no-repeat right 99%;
  background-size: contain, 10%;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

a {
  color: #42526e;
  text-decoration: none;
}

.main-container {
  flex-flow: column wrap;
  align-content: center;
}

.main-container > * {
  flex: 1 1 auto;
}

.paragraph {
  width: 90%;
  text-align: center;
  font-size: 20px;
  color: #172b4d;
  font-weight: normal;
}

.trans:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  cursor: pointer;
}

.scale {
  transition: all 0.3s ease-in-out;
}

.scale:hover {
  transform: scale(1.3);
  cursor: pointer;
}

button {
  color: #fff;
  background-color: #36b37f;
  width: 6.5em;
  height: 3em;
  border-color: #36b37f;
  border-radius: 4px;
}

button:hover {
  background-color: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  transform: translateY(-10px);
}

button:active {
  background-color: #008552;
}

/* navigation */
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.1em;
  flex: 1 1 auto;
}

.nav-list-cont {
  display: none;
}

.welcome {
  font-weight: bold;
  font-size: 20px;
  width: fit-content;
  color: #172b4d;
  flex: 10;
}

.hamburger {
  font-size: 20px;
  color: #172b4d;
  width: fit-content;
}

/* header */
.top-header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.top-header > * {
  flex: 1 1 auto;
}

.header-1-container {
  font: 1.3em normal bolder;
  line-height: 3em;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* all header color */
.header {
  color: #344563;
  font-family: "Inter", sans-serif;
}

#hey {
  margin-bottom: 0;
  margin-top: 2em;
  text-align: center;
}

#job {
  margin-top: 0;
  color: #36b37e;
  text-align: center;
}

/* contact links */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fab {
  font-size: 1.5em;
}

.nav-container > * {
  margin-right: 1em;
}

.action-container {
  width: 90vw;
  height: 3em;
  background: url("images/action.svg");
  background-size: 20rem;
  background-repeat: no-repeat;
  background-position: center;
  margin: 50px 10px 50px 30px;
}

/* main-content positioned with grid system */
.sample-jobs {
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  grid-gap: 1rem;
  text-align: center;
}

.header-2-container {
  font-size: 1.5em;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.header-2 {
  width: 70%;
}

.indicator {
  background: url("images/indicator.svg");
  background-repeat: no-repeat;
  justify-self: center;
  width: 19%;
  margin-left: 2em;
  margin-bottom: 1.8em;
}

.cards {
  display: grid;
  max-width: 1200px;
  grid-row-gap: 1em;
  justify-items: center;
  margin: 0 auto;
}

.sample-containers {
  height: 25em;
  max-width: 300px;
  border: 1px solid #d0d9d4;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.4s ease;
}

.sample-containers:hover {
  transform: scale(1.05);
}

.sample-containers * {
  flex: 1;
}

.sample-img-container {
  width: 100%;
  min-height: 50%;
  background-color: #e5e5e5;
  border-radius: 4px 4px 0 0;
}

.sample-img-txt-head-container {
  width: 60%;
  height: 2em;
  margin-bottom: 1em;
  color: #344563;
  font-family: "Inter", sans-serif;
}

/* Using flexbox on items within card */
.code-lang-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-left: 1px;
  padding-top: 0;
  margin-top: 0;
}

.code-lang-container * {
  border: solid #ebf0ee;
  background-color: #ebf0ee;
  border-radius: 4px;
  color: #36b37e;
  width: max-content;
  margin-right: 0.5em;
  padding-right: 0.2em;
  padding-left: 0.1em;
  font-size: 12px;
  line-height: 16px;
}

.ruby-on-rails {
  flex: 5;
}

/* aside */
.aside-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  text-align: center;
  background: url("images/illustration-about-me-mobile.svg") no-repeat left 50%;
  background-size: contain;
}

.header-container-about {
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: 99vw;
  min-height: 30%;
  background: url("images/mask-group.svg") no-repeat right;
  background-size: contain;
}

#about-head {
  font-size: 40px;
  margin-top: 1.5em;
}

.abt-para-cont {
  width: 99vw;
  display: flex;
  justify-content: center;
}

.about-paragraph {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 32px;
  font-weight: normal;
}

.btn {
  width: 122px;
  margin-left: 1em;
  border: none;
}

footer .btn {
  width: 159px;
}

/* skillset */
.skillset {
  max-width: 100%;
  margin-top: 80px;
  display: grid;
  justify-items: center;
  text-align: center;
}

.box-container {
  border: 1px solid #c1c7d0;
  background-color: #ebf0ee;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  width: 327px;
  height: 352px;
}

.box-container > * {
  margin-bottom: 10px;
}

.logo-container {
  border-radius: 50%;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
  margin-top: 30px;
  padding: 2%;
  background-color: #fff;
}

.code-skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.lang {
  align-self: center;
  font-size: small;
  margin: 0 5px 10px 0;
  padding-top: 0.5em;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 5px;
  border-radius: 8px;
  background-color: #fff;
  color: #36b37e;
}

#code-lang-list {
  justify-content: center;
  min-width: 100%;
  margin-top: -1em;
}

#frame-wrk-list {
  min-width: 70%;
}

.extra {
  min-width: 100%;
  padding: 0;
}

.last-head-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.header-3 {
  font-size: 40px;
  color: #172b4d;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

#name {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

input {
  padding: 0.7em;

  /* transition: transform 1s; */
}

input:hover,
textarea:hover,
.sample-img-container:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border: thin;
  transition: all ease 0.5s;
}

input:focus,
textarea:focus {
  border: solid thin gold;
  outline: solid thin gold;
}

input:valid,
textarea:valid {
  border: solid thin #36b37f;
  outline: solid thin #36b37f;
}

#get-in-touch {
  margin-left: 40%;
  margin-top: 1em;
}

.footer * {
  justify-content: center;
}

#code-lang-list * {
  min-width: 20%;
}

.mail-container {
  display: flex;
  margin: 0.5em 0 2em 0;
}

.mail {
  color: #42526e;
  text-decoration: none;
  margin-left: 2.5em;
}

@media only screen and (min-width: 600px) {
  #home-paragraph {
    line-height: 1.6em;
  }

  .navigation {
    justify-content: center;
    margin: 2.8em 0 3em;
    font-size: small;
    font-weight: 600;
  }

  .navigation div {
    display: none;
  }

  .nav-list-cont {
    display: flex;
  }

  .nav-list-cont li {
    margin-right: 2em;
  }

  .top-header {
    margin-top: 5em;
  }

  .paragraph {
    width: 80%;
  }

  .main-sec {
    margin-top: 10em;
  }

  .sample-jobs {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .indicator {
    display: none;
  }

  .header-2-container {
    grid-column: span 3;
    width: 80vw;
    word-wrap: normal;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
    width: 98vw;
  }

  .all-skills {
    display: grid;
    grid-template-columns: repeat(3, 0.8fr);
    gap: 0.5em;
    min-width: 80%;
    margin-left: 1em;
    margin-right: 1em;
  }

  .all-skills * {
    width: auto;
  }
}

@media only screen and (min-width: 700px) {
  body {
    background: none;
    background: url("images/Header-llustration-desktop.svg") no-repeat;
    background-size: contain;
  }

  .header-1-container {
    width: 50%;
    margin-bottom: 2em;
  }

  #home-paragraph {
    width: 53.65%;
  }

  .aside-container {
    background:
      url("images/illustration-about-me-2-desktop.svg") no-repeat,
      url("images/illustration-about-me-desktop.svg") no-repeat;
    background-size: 20%, 80%;
    background-position: left bottom, right;
  }

  .header-container-about {
    margin-top: 1em;
    background: none;
  }

  #frame-wrk-list {
    min-width: 70%;
  }

  .about-paragraph {
    width: 53.65%;
  }

  .form-sec {
    max-width: 80%;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15em;
  }

  .last-head-container {
    text-align: initial;
    width: 50%;
    padding-right: 2em;
    justify-content: stretch;
    align-items: stretch;
  }

  .last-head-container > * {
    font-size: 30px;
  }

  .form {
    width: 50%;
    margin-right: 0;
    margin-top: 3em;
    border: 2px;
  }

  #get-in-touch {
    margin-left: 0;
  }

  .skillset {
    background:
      url("images/box.svg") no-repeat,
      url("images/illustration-2-contact-form-desktop.svg ") no-repeat,
      url("images/contact-form-illustratoin-3-desktop.svg") no-repeat;
    background-position: bottom left, 20% 100%, right 100%;
  }
}

@media only screen and (min-width: 992px) {
  body {
    background: url("images/Header-llustration-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .header-1-container {
    width: 80%;
    margin-bottom: -2em;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.3em;
  }

  .sample-containers {
    min-width: 20em;
  }

  .aside-container {
    background-size: auto;
  }

  .all-skills {
    display: grid;
    grid-column-gap: 2.5em;
  }
}
